* {
    margin: 0;
    padding: 0;
}

.xr-player-dom {
    background: black;
    position: relative;
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        text-indent: 0;
    }
    .xr-video-canvas {
        background: #000000;
        z-index: 1;
    }
    .xr-poster-wrap {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        background: black;
        .xr-poster {
            width: 100%;
            height: 100%;
            width: auto\9;
            height: auto\9;
            max-width: 100%;
            max-height: 100%;
            object-fit:contain
        }
    }
    .xr-player-shadow {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        .xr-startBar{
            font-size: 80px;
            opacity: 0.8;
        }
    }
    .xr-control-wrap {
        background: transparent;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 48px;
        z-index: 5;
        .xr-control {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 48px;
            .xr-progress_bar_container {
                width: 100%;
                height: 8px;
                position: absolute;
                z-index: 4;
                top: -8px;
                cursor: pointer;
                &:hover {
                    .xr-progress_list {
                        .xr-progress_line {
                            .xr-progress_currentCircle {
                                width: 12px;
                                height: 12px;
                                &::before {
                                    display: block;
                                    position: absolute;
                                    top: -4px;
                                    left: -4px;
                                    width: 20px;
                                    height: 20px;
                                    border-radius: 100%;
                                    background-color: #fe6429;
                                    background-color: rgba(254, 100, 41, .3);
                                    content: "";
                                }
                            }
                        }
                    }
                }
                .xr-progress_list {
                    z-index: 4;
                    width: 100%;
                    height: 4px;
                    position: absolute;
                    top: 2px;
                    background-color: gray;
                    .xr-progress_line {
                        width: 0%;
                        height: 100%;
                        background: #ff6429;
                        border-radius: 8px;
                        .xr-progress_currentCircle {
                            background: #ff6429;
                            border-radius: 100%;
                            width: 1px;
                            height: 1px;
                            position: absolute;
                            top: 50%;
                            left: 0%;
                            transform: translate(-50%, -50%);
                            z-index: 99;
                        }
                    }
                }
            }
            .xr-control-btn {
                display: flex;
                align-items: center;
                margin-left: 4px;
                color: #fff;
            }
            .xr-left-control {
                float: left;
                height: 100%;
                display: flex;
                justify-content: start;
                align-items: stretch;
                padding-left: 8px;
            }
            .xr-right-control {
                float: right;
                height: 100%;
                display: flex;
                justify-content: end;
                align-items: stretch;
                padding-right: 8px;
            }
            .xr-control-play {
                cursor: pointer;
                font-size: 30px;
            }
            .xr-proLines {
                font-size: 12px;
                margin-left: 5px;
            }
            .xr-control-voice-mark {
                font-size: 20px;
                cursor: pointer;
            }
            .xr-control-full {
                font-size: 20px;
                cursor: pointer;
            }
            .xr-control-voice {
                width: 100px;
                height: 4px;
                background: gray;
                border-radius: 4px;
                position: relative;
                cursor: pointer;
                margin: 0 10px;
                .xr-voiceline {
                    width: 0%;
                    height: 100%;
                    background: #ff6429;
                    border-radius: 4px;
                    .xr-voice-drag {
                        width: 8px;
                        height: 8px;
                        border-radius: 100%;
                        background-color: white;
                        position: absolute;
                        top: -2px;
                        left: 0%;
                        transform: translateX(-50%);
                        z-index: 99;
                    }
                }
            }
        }
    }
}